.add_playlist_modal {
  background-color: #c5daf2;
  padding: 2rem;
  border-radius: 1.5rem;
}

.playlist_form,
.form_label {
  display: flex;
  flex-direction: column;
}

.playlist_form {
  margin-top: 0.7rem;
  gap: 0.7rem;
}
