.page_nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav_element {
  color: #183153;
  font-size: 1.2rem;
  font-weight: 500;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}
