.v_info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btns {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.3rem;
  color: #183153;
}
.playlist_add_btn {
  cursor: pointer;
}
ul {
  margin-top: 0;
}
.note_action_btns {
  display: inline;
  position: relative;
  top: 6px;
  margin-left: 0.6rem;
  cursor: pointer;
}

.single_vid_page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.8rem;
}
